<!DOCTYPE html>
<html lang="en" ng-app="CounterApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="digest.js"></script>
</head>
<body ng-controller="CounterCtrl as ctrl">

<h1>Counter: {{ ctrl.counter }}</h1>

</body>
</html>