<!DOCTYPE html>
<html lang="en" ng-app="GeoApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/lodash/dist/lodash.js"></script>
        <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>

        <link rel="stylesheet" href="geolocation.css">
        <script src="geolocation.js"></script>
    </head>
    <body ng-controller="GeoCtrl as ctrl">

        <h2> Latitude: {{ ctrl.position.latitude }}</h2>
        <h2> Longitude: {{ ctrl.position.longitude }}</h2>

        <button type="button" ng-click="ctrl.getLocation()">
            Get Location
        </button>

        <br><br>

        <ui-gmap-google-map center='ctrl.position' zoom='ctrl.position.zoom'>
            <ui-gmap-marker coords="ctrl.position"
                idKey="ctrl.position.id" options="ctrl.position.options">
            </ui-gmap-marker>
        </ui-gmap-google-map>


    </body>
</html>