<!DOCTYPE html>
<html lang="en" ng-app="ModalApp">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular/angular.js"></script>

        <script src="modal.js"></script>
    </head>
    <body ng-controller="ModalCtrl as ctrl">

        <div class="container" style="position: relative; top: 30px;">

            <div class="panel panel-default" ng-repeat="f in ctrl.fruits">
                <div class="panel-body" ng-click="ctrl.show(f)">
                    {{ f }}
                </div>
            </div>
        </div>


        <div class="modal fade" id="fruit-modal" role="dialog" ng-controller="FruitModalCtrl as fmCtrl">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Fruits</h4>
                    </div>
                    <div class="modal-body">
                        <h2> {{ fmCtrl.fruit }} </h2>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
